<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="products.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Inventory App</h2>
        <nav>
          <a href="#">Products</a>
        </nav>
      </header>

      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product)=>{ %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.desc %></td>
            <td><%= product.price %></td>
            <td>
              <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
